.cooperation {
    padding-top: 3.5rem;
    margin-bottom: 9.1rem;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__content {
        width: 71.1rem;
        margin-bottom: 6.5rem;
    }
    &__suptitle {
        margin-bottom: 2rem;
    }
    &__main-title {
        margin-bottom: 2.4rem;
    }
    &__text {
        color: $grey;
        margin-bottom: 2.6rem;
    }
    &__img {
        width: 61.9rem;
        height: 37.9rem;
        border-radius: 5rem 1rem 5rem 5rem;
        overflow: hidden;
        margin-bottom: 6.5rem;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    @media (max-width: 48em) {
        padding-top: 9.1rem;
        margin-bottom: 23.1rem;
        &__inner {
            display: block;
        }
        &__content {
            width: 100%;
            margin-bottom: 9rem;
        }
        &__suptitle {
        }
        &__main-title {
        }
        &__text {
            margin-bottom: 4.5rem;
        }
        &__img {
            width: 100%;
            height: 22.1rem * 2;
            border-radius: 2rem 6rem 6rem 6rem;
            margin-bottom: 20rem;
        }
    }
}

.invitation {
    &__main-title {
        font-size: 3rem;
        font-weight: 600;
        span {
            position: relative;
            padding-right: 4.5rem;
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-61%);
                width: 3.6rem;
                height: 3.6rem;
                @include bg-icon;
                background-image: url(../img/invitation-men.svg);
            }
        }
    }
    &__list {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        padding-top: 5rem;
    }
    &__item {
        width: 25.6rem;
        background-color: #fff;
        border-radius: 3rem;
        padding: 6.5rem 1.6rem 2.8rem 3.6rem;
        box-shadow: 2rem 2rem 8rem rgba(58, 35, 0, 0.12);
        position: relative;
        &:nth-child(2) {
            .invitation__img {
                top: -3.2rem;
                left: 3.2rem;
            }

        }
        &:nth-child(3) {
            .invitation__img {
                top: -4.7rem;
                left: 1.4rem;
            }

        }
    }
    &__img {
        width: 11.4rem;
        height: 7.6rem;
        position: absolute;    
        top: -2.7rem;
        left: 1.6rem;
    }
    &__title {
        font-weight: 600;
        font-size: 2.2rem;
        margin-bottom: 1.6rem;
    }
    @media (max-width: 48em) {
        margin-bottom: 19.3rem;
        &__main-title {
            font-size: 5rem;
            span {
                padding-right: 6.3rem;
                &::after {
                    width: 4.6rem;
                    height: 4.6rem;
                }
            }
        }
        &__list {
            display: block;
            padding-top: 6.3rem;
        }
        &__item {
            width: 100%;
            border-radius: 6rem;
            padding: 1rem;
            box-shadow: 4rem 4rem 16rem rgba(58, 35, 0, 0.12);
            display: flex;
            margin-bottom: 4rem;
            &:nth-child(2) {
                .invitation__img {
                    img {
                        object-position: left 4rem top 0rem;
                    }
                }
    
            }
            &:nth-child(3) {
                .invitation__img {
                    img {
                        width: 135%;
                        height: 135%;
                        object-position: left 2rem top -1rem;
                    }
                }
    
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            width: 27.4rem;
            height: 18.4rem;
            position: static;
            flex-shrink: 0;
            img {
                height: 100%;
                object-fit: contain;
            }
        }
        &__title {
            font-size: 4rem;
            margin-bottom: 3rem;
            padding-top: 3rem;
        }
        .more {
            margin-bottom: 2.3rem;
        }
    }
}

.whywe {
    width: 53rem;
    &__main-title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 3.7rem;
        span {
            position: relative;
            padding-right: 4.4rem;
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-61%);
                width: 3.6rem;
                height: 3.6rem;
                @include bg-icon;
                background-image: url(../img/whywe-graf.svg);
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 2.1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__num {
        min-width: 4.7rem;
        margin-right: 2rem;
        flex-shrink: 0;
    }
    @media (max-width: 48em) {
        width: 100%;
        &__main-title {
            font-size: 5rem;
            margin-bottom: 3.7rem;
            span {
                white-space: nowrap;
                padding-right: 7.8rem;
                &::after {
                    width: 4.6rem;
                    height: 4.6rem;
                }
            }
        }
        &__item {
            margin-bottom: 4.5rem;
        }
        &__num {
            min-width: 12rem;
            margin-right: 2.6rem;
        }
        &__text {
            padding-right: 10%;
            padding-top: 2.1rem;
        }
    }

}